<%- include("header") -%>

<section id="Welcome">
    <div class="welcomeDiv">
        <div class="profileDiv">
            <img class='profilePic' src='images/profile-pic.png' alt='Profile Picture'>
        </div>
        <h1 class="myName">Hi! I'm Raiden Skala,</h1>
        <h3><%=sentStatus%></h3>
    </div>
</section>

<%- include("skills") -%>

<%- include("education") -%>

<%- include("experience") -%>

<%- include("projects") -%>

<%- include("certifications") -%>

<%- include("contact") -%>

<%- include("footer") -%>