<%- include("header") -%>

<section id="Welcome">
    <div class="welcomeDiv">
        <h1 class="myName">Raiden Skala</h1>
        <h3><%=sentStatus%></h3>
    </div>
</section>

<%- include("skills") -%>

<%- include("education") -%>

<%- include("experience") -%>

<%- include("projects") -%>

<%- include("certifications") -%>

<%- include("contact") -%>

<%- include("footer") -%>