<%- include("header") -%>

<section id="Welcome">
    <div class="welcomeDiv">
        <h1 class="myName">Raiden Skala</h1>
        <h3>I'm a fullstack developer who is passionate about using technology to streamline and improve
            business operations.</h3>
    </div>
</section>

<%- include("skills") -%>

<%- include("experience") -%>

<%- include("projects") -%>

<%- include("contact") -%>

<%- include("footer") -%>